{% extends 'base.html' %}

{% block content %}

    <h1>My Daily Moods</h1>

    <p>
        <a href="{% url 'moods:create' %}">Add New Mood Entry</a>
    </p>

    {% if moods %}
        <ul>
            {% for mood in moods %}
                <li>
                    <a href="{% url 'moods:detail' mood.pk %}">
                        {{ mood.date }} – {{ mood.mood }}
                    </a>
                    ({{ mood.cat.name }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No diary entries yet.</p>
    {% endif %}

    {% include 'common/pagination.html' %}

{% endblock %}
