{% extends 'base.html' %}

{% block content %}

    <h1 class="mb-4">Erase This Memory?</h1>

    <p class="mb-4">
        Are you sure you want to delete <strong>{{ mood.cat.name }}`s</strong> diary entry from <strong>{{ object.date }}</strong>?
    </p>

    <form method="post" class="mb-3">
        {% csrf_token %}

        <button type="submit" class="btn btn-soft me-2">Yes, erase it</button>

        <a href="{% url 'moods:detail' object.pk %}" class="btn btn-outline-secondary">Cancel</a>
    </form>

{% endblock %}
