{% extends 'base.html' %}

{% block content %}

    <h1>All of Us Cats</h1>

    {% if cats %}
        <ul>
            {% for cat in cats %}
                <li>
                    <a href="{% url 'cats:detail' cat.pk %}">{{ cat.name }}</a> - {{ cat.personality }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No cats have registered yet.</p>
    {% endif %}

    <a href="{% url 'cats:create' %}">Add new member</a> <br> <br>

    {% include 'common/pagination.html' %}

{% endblock %}
